/* MainLayout.module.css */
.layout {
  min-height: 100vh;
  margin-top: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
}

.content {
  flex: 1;
  padding-bottom: 4rem;
  overflow-y: auto;
}